*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared class */
.primary-btn{
    width: 160px;
    /* height: 52px; */
    justify-content: center;
    /* align-items: center; */
    padding: 14px 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 19px; */
    color: white;
    text-align: left;
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    border-style: none;
    /* margin-top: 8px; */
    border-radius: 5px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* header style */

.panda-main-header{
   max-width: 1280px;
   margin: 60px auto;
}
.panda-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    gap: 20px;
}
.panda-image{
    cursor: pointer;
}
.header-list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header-list-items li{
    list-style: none;
}
.header-list-items li a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(112, 112, 112);
    font-family: Poppins;
}
.search-parent{
    position: relative;
}
.panda-search-bar{
    width: 508.94px;
    height: 48px;
    border-radius: 66px;
    background: rgb(241, 241, 241);
    border-style: none;
    padding: 25px;
}
.search-parent i{
    position: absolute;
    top: 17px;
    right: 20px;
}

/* Banner section style */
.banner{
    max-width: 1212px;
    height:456px ;
    margin: 60px 117px;
    border-radius: 10px;
    background: rgb(254, 234, 233);
    padding: 38px;
}
.banner-content{
    justify-content: center;
    align-items: center;
    display: flex;
}
.banner-heading{
    font-size: 35px;
    font-weight: 700;
    line-height: 84px;
    color: rgb(31, 31, 31);
    margin-bottom: 8px;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
    color: rgb(78, 78, 78);
}
.banner-price-tag{
    color: rgb(255, 19, 111);
    font-size: 35px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-tv-img{
    width: 380px;
    height: 320px;
}

/* categories Section Style */
.categories{ 
    max-width: 1128px;
    height: 198px;
    margin: 60px 117px;
    display: block;
}
.categories-product{
    display: flex;
}
.categories-header{
    color: rgb(31, 31, 31);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}
.category-container {
    display: flex;
    justify-content: space-between;
}
.category-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 359px;
    height: 120px;
    border-radius: 10px;
    padding: 0px 40px 0px 40px;
    gap: 77px;
}
.bg-gradient-yellow {
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}
.bg-gradient-purple {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.bg-gradient-blue {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
.container-heading{
    font-size: 36px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.watch-image{
    width: 85px;
    height: 85px;
}
.bag-image{
    width: 85px;
    height: 85px;
}
.shoe-image{
    width: 85px;
    height: 85px;
}

/* Shoes section style */
.shoes{
    max-width: 1128px;
    height: 582px;
    margin: 60px 117px;
    border: 1px solid red;
}
.shoes-header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

}
.shoes-heading{
    color: rgb(31, 31, 31);
    font-size: 36px;
    font-weight: 600;
    text-align: left;
}
.see-all{
    color: rgb(255, 157, 0);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.shoes-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.shoe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 496px;
    /* margin-top: 20px; */
    padding: 24px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 0px 8px 0px rgb(0 0 0 / 15%);
}
.shoe-card > img {
    height: 280px;
    width: 180px;
    object-fit: contain;
    margin: 22px 0px;
}
.shoe-card > h4{
    font-weight:600;
    font-size: 24px;
    text-align: center;
    color: rgb(31, 31, 31);
    margin: 16px 0px;
}
.shoe-card > span{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    /* margin: 16px 0px; */
}
.shoe-card > p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(78, 78, 78);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}
.shoe-card-btn {
     background: black;
    
}
